* {
  outline: 1px solid grey
}

body {
  background: blanchedalmond;
  color: black;
  text-align: center;
  font-size: 3em;
  margin: 0;
}

.container {
  background: plum;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header, footer {
  background: pink;
  flex-grow: 1;
  margin: 15px;
}

main {
  background: pink;
  flex-grow: 3;
  margin: 15px;
  min-height: 75vh;
}

@media(min-width: 600px) {
 
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  header {
    width: 100vw;
  }



}