* {
  outline: 1px solid purple;

}
body {
  background: black;
  color: black;
  text-align: center;
  font-size: 2em;
  margin: 0;
}

.container {
  background: teal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

header, footer {
  background: teal;
  flex-grow: 1;
  margin: 5px
}

main {
  /* text-align: center; */
  /* flex-direction: row; */
  flex-grow:3;
  display: flex;
  flex-wrap: wrap;
  /* margin: 5px; */
}

.b2 {
  width: 100%;
  margin: 5px;
}

.b3, .b4, .b5 {
  width: 31.2%;
  margin: 5px;
}

/* .c {
  background: peachpuff;
  width: 100vw;
  margin: 5px
}

.d {
  background: peachpuff;
  width: 100vw;
  margin: 5px
}

.e {
  background: peachpuff;
  width: 100vw;
  margin: 5px
} */


@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  header {
    width: 100vw;
    /* height: 25vh; */
  }
  .b3, .b4, .b5 {
    width: 32.49999%;
    margin: 5px;
  }
  
  main, footer, header  {
    margin: 1em;;
  }
}


